
.trendingTrends {
color: white;
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1{
  color: white;
}
h3 {
  color: white;
}

@media (min-width: 300px){
  .trendingTrends {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr) );
  }
}