
.trendingTrends {
color: white;
}
.columns{
  column-count: 2;
  column-gap: 0px;
}


h1{
  color: white;
}
h3 {
  color: white;
}

@media (min-width: 300px){
  .trendingTrends {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr) );
  }
}