.center-content {
  list-style-position: inside;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: center;
  color: white;
}

.trending {
column-count: 3;
color: white;
}

h1{
  color: white;
}
h3 {
  color: white;
}
ol {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  justify-content: center;
}

.categoryInputs {
  color: white;
}

/* Style the search field */


/* Button */
button {
  background-color: #2167e7; /* Green */
  border: none;
  color: white;
  padding: 5px 32px;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  font-size: 15px;
}

@media (min-width: 300px){
  button {
    padding-bottom: 0.4%;
  }
}