.center-content {
  list-style-position: inside;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: center;
  color: white;
}

.trending {
column-count: 3;
color: white;
}

h1{
  color: white;
}
h3 {
  color: white;
}
ol {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  justify-content: center;
}

.categoryInputs {
  color: white;
}

/* Style the search field */
input[type=text] {
  padding: 5px;
  border: 1px solid #cccccc;

  border-start-start-radius: 5%;
  border-bottom-left-radius: 5%;
}
input[type=submit] {
  background-color: #62529c;
  border: none;
  color: #fff;
  padding: 6px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* Button */
button {
  background-color: #2167e7; /* Green */
  border: none;
  border-top-right-radius: 10%;
  border-end-end-radius: 10%;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1px 0px;
  font-size: 15px;
}

@media (min-width: 300px){
  button {
    padding-bottom: 0.4%;
  }
}